doctype html
html(lang="vi")
	head
		title #{pageTitle}
		meta(charset="UTF-8")
		meta(
			content="width=device-width, initial-scale=1.0" 
			name="viewport"
			)
		title #{pageTitle}
		link(
			href="/assets/css/style.css" 
			rel="stylesheet"
			)
		link(
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
			rel="stylesheet"
			)
	body
		.page-account
			block main
	script(src="/assets/js/script.js")