doctype html
html(lang="vi")
	head
		meta(charset="UTF-8")
		meta(
			content="width=device-width, initial-scale=1.0" 
			name="viewport"
			)
		title #{pageTitle}
		link(
			rel="stylesheet",
    	href="https://cdn.jsdelivr.net/npm/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css"
		)
		link(
			href="/assets/css/style.css" 
			rel="stylesheet"
			)
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css")
		link(
			href="/assets/css/tailwind.css" 
			rel="stylesheet"
			)
		link(
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
			rel="stylesheet"
			)
	body
		//Header 
		include ../partials/header.pug
		// End Header

		// Sider
		include ../partials/sider.pug
		// End Sider

		block main


		block scripts
	script(src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js")
	script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js")
	script(src="/assets/js/notify.js")
	script(src="/assets/js/validate.js")
	script(src="/assets/js/script.js")
