extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main
		h1.box-title Lập phiếu thuê phòng: #{room.room_id}
		.section-8
			form(action="" id="rental-create-form")
				input(type="hidden" id="roomId" name="roomId" value=room.room_id)
				.inner-group 
					label.inner-label(for="roomName") Tên phòng
					input(type="text" id="roomName" name="roomName" value=room.room_name readonly)
				.inner-group 
					label.inner-label(for="roomType") Loại phòng
					input(type="text" id="roomType" name="roomType" value=room.room_type readonly)
				.inner-group 
					label.inner-label(for="price") Đơn giá
					input(type="text" id="price" name="price" value=`${room.price.toLocaleString()} VND` readonly)
				.inner-group 
					label.inner-label(for="startDate") Ngày bắt đầu thuê
					input(type="date" id="startDate" name="startDate" placeholder="Nhập ngày bắt đầu thuê" required)
				.inner-group 
					label.inner-label(for="guestCount") Số lượng khách
					input(type="number" id="guestCount" name="guestCount" min="1" max=room.max_guests value="1")
				.inner-group.inner-two-col
					label.inner-label Thông tin khách hàng
					table.inner-table
						thead
							tr  
								th STT 
								th Họ và tên
								th Loại khách 
								th Số CMND/CCCD
								th Số điện thoại
						tbody#customerRows

				.inner-button.inner-two-col(style="display: flex; justify-content: space-between;")
					button(type="button" style="color: black; background-color: #FFAAAA;") Hủy bỏ
					button(type="submit" id="saveBtn") Lưu

			.inner-back 
				a(href=`/${pathAdmin}/tour/list`) Quay lại danh sách
		