extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main 
		h1.box-title Lập báo cáo
		.main1
			//- Section 4
			.section-4
				.inner-wrap
					.inner-item.inner-label
						<i class="fa-solid fa-filter"></i> Bộ lọc
					.inner-item
						select(id="roomType")
							option(value="") Loại phòng
							option(value="A") Loại A
							option(value="B") Loại B
							option(value="C") Loại C
					.inner-item
						select(id="receptions")
							option(value="") Lễ tân phụ trách
							each r in resultReceptions
								option(value=r.user_id)= r.full_name
					.inner-item.inner-date
						input(type="date" id="dateFrom")
						span -
						input(type="date" id="dateTo")
					.inner-item.inner-reset 
						button(type="button" id="applyBtnForReport") Áp dụng
			//- End Section 4
			//- Section 5
			.section-5
				.inner-wrap
					.inner-search
						<i class="fa-solid fa-magnifying-glass"></i>
						input(type="text" id="roomName" placeholder="Tìm kiếm tên phòng")
					.inner-button-create
						a(href="")  + Tạo báo cáo theo phòng
					.inner-button-create
						a(href="")  + Thêm báo cáo theo loại phòng
			//- End Section 5

		//- Section 6
		.section-6 
			.table-2 
				table 
					thead 
						tr
							th.text-left Mã hóa đơn
							th.text-left Tên phòng
							th.text-left Loại phòng 
							th.text-center Khách thanh toán
							th.text-center Thành tiền
							th.text-left Lễ tân phụ trách
							th.text-left Thời điểm chi trả
					tbody 
						if reports && reports.length > 0
							each r in reports
								tr 
									td.text-left= r.slip_code
									td.text-left 
										div= r.room_name
									td.text-left= r.room_type
									td.text-center= r.payer_name
									td.text-left= r.final_price
									td.text-left= r.receptionist		
									td.text-left= r.paid_at
			.pagination
				select(class="inner-pagination")
					option Trang 1
					option Trang 2
					option Trang 3
				.inner-next
					i(class="fa-solid fa-chevron-right")
		//- End Section 6


block scripts 
	script(src="/assets/js/report.js")