extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main 
		h1.box-title Quản lý phòng
		.main1
			//- Section 4
			.section-4
				.inner-wrap
					.inner-item.inner-label
						<i class="fa-solid fa-filter"></i> Bộ lọc
					.inner-item
						select
							option(value="") Trạng thái
							option(value="") Hoạt động
							option(value="") Đang tạo
							option(value="") Tạm dừng
					.inner-item
						select
							option(value="") Loại phòng
							option(value="") Loại A
							option(value="") Loại B
					.inner-item
						select
							option(value="") Lễ tân phụ trách
							option(value="") Lễ tân 1
							option(value="") Lễ tân 2
					.inner-item.inner-date
						input(type="date")
						span -
						input(type="date")
					.inner-item.inner-reset Áp dụng
			//- End Section 4
			//- Section 5
			.section-5
				.inner-wrap
					.inner-search
						<i class="fa-solid fa-magnifying-glass"></i>
						input(type="text" placeholder="Tìm kiếm tên phòng")
					.inner-button-create
						a(href="room/create")  + Thêm phòng
			//- End Section 5

		//- Section 6
		.section-6 
			.table-2 
				table 
					thead 
						tr
							th.text-left Mã phòng
							th.text-left Số phòng
							th.text-left Loại phòng 
							th.text-center Số khách tối đa
							th.text-center Trạng thái
							th.text-left Hành động
					tbody
						if rooms && rooms.length
							each room in rooms
								tr
									td.text-left= room.room_id
									td.text-left
										div= room.room_name
									td.text-left= room.room_type_id
									td.text-center A
									td.text-left 200,000 VND
									td.text-center= room.status
									td.text-left
										div —
									td.text-left
										.box-actions
											a(href=`/room/update/${room.room_id}` class="inner-edit")
												i.fa-solid.fa-pen-to-square
											a(href=`/room/delete/${room.room_id}` class="inner-remove")
												i.fa-solid.fa-trash-can
						else
							tr
								td(colspan="8" style="text-align:center") Không có phòng nào
						
			.pagination
				select(class="inner-pagination")
					option Trang 1
					option Trang 2
					option Trang 3
				.inner-next
					i(class="fa-solid fa-chevron-right")
		//- End Section 6