extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main
		h1.box-title Phòng #{room.room_name}

		.section-8
			form(
				id="room-update-form"
				data-id=room.room_id 
			)
				
				.inner-group
					label.inner-label(for="room_name") Tên phòng
					input(
						disabled
						type="text"
						id="room_name"
						name="room_name"
						value=room.room_name
						required
					)

				.inner-group
					label.inner-label(for="room_type_id") Loại phòng
					select(
						id="room_type_id"
						name="room_type_id"
						required
						disabled=(room.status === "OCCUPIED")
					)
						if roomTypesList
							each type in roomTypesList
								option(
									value=type.room_type_id 
									selected=(room.room_type_id == type.room_type_id)
								) #{type.type_name}

				.inner-group
					label.inner-label(for="status") Trạng thái
					select(
						id="status"
						name="status"
						required
						disabled=(room.status === "OCCUPIED")
					)
						option(value="AVAILABLE" selected=room.status==="AVAILABLE") Hoạt động
						option(value="OCCUPIED" selected=room.status==="OCCUPIED") Đang thuê
						option(value="MAINTENANCE" selected=room.status==="MAINTENANCE") Tạm dừng

				.inner-group.inner-note
					label.inner-label(for="note") Ghi chú
					textarea(
						id="note"
						name="note"
					)= room.note || ""

				.inner-button.inner-two-col()
					button(type="submit") Lưu

			.inner-back
				a(href="/room") Quay lại danh sách