extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main
		h1.box-title Cài đặt
		.section-8
			form(action="" id="room-create-form")
				.inner-group.inner-two-col(
					style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;"
					)
					label.inner-label(for="type") Loại khách
					label.inner-label(for="ratio") Hệ số

					.inner-group
						input(
						type="text"
						value="Trong nước"
						readonly
						)

					.inner-group 
						input(type="text" id="ratio" name="ratio" value="1.0")
						button.inner-change(style="top:30% ")
							<i class="fa-solid fa-pen-to-square"></i>

					.inner-group
						input(
						type="text"
						value="Nước ngoài"
						readonly
						)

					.inner-group 
						input(type="text" id="ratio" name="ratio" value="1.5")
						button.inner-change(style="top:30% ")
							<i class="fa-solid fa-pen-to-square"></i>

				// ================= GIÁ PHÒNG THEO LOẠI =================
				.inner-group.inner-two-col(
				style="display: grid; grid-template-columns: 1.5fr 1fr; gap: 20px; align-items: center;"
				)
				// ===== HEADER =====
				label.inner-label Loại phòng
				label.inner-label Đơn giá (VND)

				// ===== STANDARD =====
				.inner-group
					input(type="text" value="Standard" readonly)

				.inner-group(style="position: relative;")
					input(type="text" value="150.000")
					button.inner-change(type="button" style="position:absolute; right:10px; top:50%; transform:translateY(-50%)")
					i.fa-solid.fa-pen-to-square

				// ===== SUPERIOR =====
				.inner-group
					input(type="text" value="Superior" readonly)

				.inner-group(style="position: relative;")
					input(type="text" value="170.000")
					button.inner-change(type="button" style="position:absolute; right:10px; top:50%; transform:translateY(-50%)")
					i.fa-solid.fa-pen-to-square

				// ===== DELUXE =====
				.inner-group
					input(type="text" value="Deluxe" readonly)

				.inner-group(style="position: relative;")
					input(type="text" value="200.000")
					button.inner-change(type="button" style="position:absolute; right:10px; top:50%; transform:translateY(-50%)")
					i.fa-solid.fa-pen-to-square



				.inner-button.inner-two-col
					button Lưu
			.inner-back 
				a(href="/dashboard") Quay lại trang chủ
		