extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main 
		h1.box-title Quản lý nhân viên

		.main1
			.section-4
				.inner-wrap(style="display: grid; grid-template-columns: repeat(2, 1fr);")
					button.inner-item(class="filter-btn active" data-by="name" style="justify-content: center") Tên
					button.inner-item(class="filter-btn" data-by="phone" style="justify-content: center") Số điện thoại

			.section-5
				.inner-wrap
					form#staffSearchForm.inner-search(action="/staff/find" method="get")
						button.fa-solid.fa-magnifying-glass(type="submit")
						input#qInput(type="text" name="q" value=(q || "") placeholder="Nhập để tìm..." autocomplete="off")
						input#byInput(type="hidden" name="by" value=(by || "name"))
						input(type="hidden" name="page" value="1")
						input(type="hidden" name="pageSize" value=(pageSize || 10))
					.inner-button-create
						a(href="/staff/create") + Thêm nhân viên

		.section-6 
			.table-2 
				table 
					thead 
						tr
							th.text-left Mã nhân viên
							th.text-left Họ tên nhân viên
							th.text-center Tên đăng nhập
							th.text-center Số điện thoại
							th.text-center Vai trò
							th.text-center Trạng thái
					tbody
						if !staffs || staffs.length === 0
							tr
								td(colspan="6" style="text-align:center") Không có nhân viên
						else
							each s in staffs
								tr
									td.text-left= s.user_id
									td.text-left= s.full_name
									td.text-center= s.username
									td.text-center= s.phone_number
									td.text-center= s.role
									td.text-center
										if s.is_active
											span.status.status-green Hoạt động
										else
											span.status.status-red Không hoạt động
		.pagination
			select.inner-pagination(onchange="location.href=this.value")
				- for (let p = 1; p <= totalPages; p++)
					option(
						value=`/staff/find?by=${encodeURIComponent(by || 'name')}&q=${encodeURIComponent(q || '')}&page=${p}&pageSize=${pageSize}`
						selected=(p === page)
					) Trang #{p}
			.inner-next
				if page > 1
					a(href=`/staff/find?by=${encodeURIComponent(by || 'name')}&q=${encodeURIComponent(q || '')}&page=${page - 1}&pageSize=${pageSize}`)
						i.fa-solid.fa-chevron-left
				if page < totalPages
					a(href=`/staff/find?by=${encodeURIComponent(by || 'name')}&q=${encodeURIComponent(q || '')}&page=${page + 1}&pageSize=${pageSize}`)
						i.fa-solid.fa-chevron-right
